<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhj.message.mapper.CommentReplyMapper">

    <select id="selectMemberId" resultType="java.lang.Long">
        select member_id from mms_comment_reply where goods_id = #{id}
    </select>
</mapper>
